.container {
    height: 90vh;
}

.header {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

.left {
    float: left;
    height: 100%;
    background-color: black;
    padding: 10px;
    margin-top: 10px;
    width: 20%;
}

.left a {
    display: block;
    padding: 10px;
    color: white;
}

.content {
    float: left;
    height: 100%;
    width: 80%;
}

.range {
    float: left;
    width: 20%;
    height: 100%;
    padding: 10px;
}

.range p {
    text-align: center;
}

.range input {
    appearance: slider-vertical;
    height: 80%;
    width: 100%;
}

.main {
    height: 100%;
    width: 80%;
    float: left;
    margin-top: 10px;
    padding: 0 20px;
}

@media (min-width:621px) and (max-width:1000px) {
    .left {
        width: 30%;
    }
    .content {
        width: 70%;
    }
    .range {
        width: 100%;
        height: auto;
    }
    .range input {
        appearance: slider-horizontal;
        height: auto;
        width: 100%;
    }
    .main {
        width: 100%;
    }
}

@media (max-width:620px) {
    .left {
        width: 100%;
        height: auto;
        text-align: center;
        margin-top: 0;
        padding: 10px;
    }
    .left a {
        display: inline;
        padding: 0 5px;
    }
    .content {
        width: 100%;
    }
    .range {
        width: 100%;
        height: auto;
    }
    .range input {
        appearance: slider-horizontal;
        height: auto;
        width: 100%;
    }
    .main {
        width: 100%;
        height: auto;
    }
}