body {
    margin: 0;
    padding: 0;
}

.row.body {
    width: 100vw;
}

.nav {
    height: 100vh;
    background-color: darkblue;
    color: white;
}

.col-md-2.nav {
    padding: 0;
}

.nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.nav ul li {
    padding: 20px;
    text-decoration: none;
}

.nav ul li:hover {
    background-color: black;
}

.nav a {
    color: white;
    text-decoration: none;
}

.team {
    padding-top: 10px;
}

.profile {
    background-color: darkblue;
    margin: auto;
    justify-content: center;
    height: calc(50vh - 10px);
}

#CSVTable {
    background-color: white;
}

#CSVTable tr:last-child td {
    overflow-x: hidden;
    white-space: nowrap;
}