body {
    margin: 0;
    padding: 0;
}

.row.body {
    width: 100vw;
}

.nav {
    height: 100vh;
    background-color: darkblue;
    color: white;
}

.col-md-2.nav {
    padding: 0;
}

.nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.nav ul li {
    padding: 20px;
    text-decoration: none;
}

.nav ul li:hover {
    background-color: black;
}

.nav a {
    color: white;
    text-decoration: none;
}

.team {
    padding-top: 10px;
}

.profile {
    background-color: darkblue;
    margin: auto;
    justify-content: center;
    height: calc(50vh - 10px);
}

#CSVTable {
    width: 100vw;
    padding: 20px;
    margin: auto;
}

#CSVTable td {
    max-width: 17vw;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 20px;
}


/* Hide scrollbar for Chrome, Safari and Opera */

td::-webkit-scrollbar {
    display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */

td {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

#CSVTable th,
#CSVTable tr,
#CSVTable td {
    border: black 1px solid;
    border-collapse: collapse;
    margin: auto;
    text-align: center;
}