* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background-color: black;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.score {
    position: absolute;
    color: white;
    left: calc(50% - 100px);
    font-weight: 300px;
    font-family: monospace;
    font-size: 50px;
    width: 200px;
    text-align: center;
}

.ball {
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 10px);
    top: calc(50% - 10px);
    /* transition: all 1s; */
}

.left-half,
.right-half {
    float: left;
    width: 50%;
    height: 100%;
}

.left-half {
    border-right: 3px dotted white;
}

.slider {
    width: 10px;
    height: 100px;
    background-color: white;
}

.left-slider {
    position: absolute;
    top: calc(50% - 25px);
    left: calc(10px);
}

.right-slider {
    position: absolute;
    top: calc(50% - 25px);
    left: calc(100% - 10px);
}

.start {
    position: absolute;
    color: white;
    font-family: monospace;
    font-size: 50px;
    top: calc(90% - 117.33px);
    width: 100%;
    text-align: center;
    animation: blink 3s linear infinite;
}

@keyframes blink {
    0% {
        opacity: 100%;
    }
    25% {
        opacity: 50%;
    }
    50% {
        opacity: 100%;
    }
    75% {
        opacity: 50%;
    }
    100% {
        opacity: 100%;
    }
}