body,
.navbar {
    background-color: black;
}

#loader {
    border: 12px solid #444444;
    border-radius: 50%;
    border-top: 12px solid #f3f3f3;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
}

.dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    margin: auto;
}

.line {
    width: 2px;
    height: calc(100% - 20px);
    background-color: white;
    margin: auto;
}

.timeline .col-5 {
    margin-bottom: 30px;
}

div.space {
    height: 10px;
}