body {
    background-color: black;
}

.background {
    background-image: url("../images/chess-background.jfif");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: absolute;
    opacity: 0.5;
}

.home .text {
    position: absolute;
    left: calc(50% - 137px);
    top: calc(50% - 63px);
    width: fit-content;
    text-align: center;
}

.home .text h1 {
    font-size: 75px;
}