body {
    background-color: black;
    color: white;
}

.navbar {
    position: sticky;
    top: 0px;
    z-index: 5;
}

.nav-item a {
    width: 100%;
    font-size: large;
    text-align: center;
}

.active {
    text-decoration: underline;
}

h1,
h4 {
    font-family: "video", serif;
    font-weight: 700;
    font-style: normal;
    width: fit-content;
}

p,
a,
.btn,
.close {
    font-family: "video", serif;
    font-weight: 400;
    font-style: normal;
    width: fit-content;
}