.container {
    position: relative;
}

.row {
    padding: 10px;
}

.gallery .row .col-lg-4 {
    position: relative;
}

.gallery .row .col-lg-4 img {
    width: 100%;
    padding: 10px;
}

.gallery .row .col-lg-4 .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    padding: 10px;
    top: 0%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.2s;
}

.gallery .row .col-lg-4 .overlay .content {
    width: auto;
    height: auto;
    display: inline-block;
    margin: auto;
}

.gallery .row .col-lg-4:hover .overlay {
    opacity: 1;
}

.galleryVideo {
    position: absolute;
    top: 10%;
    display: none;
}

.galleryVideo .row .col-md-3,
.galleryVideo .row .col-md-1 {
    text-align: center;
}

.space {
    height: 20px;
}

.close {
    font-size: 40px;
    cursor: pointer;
}

.galleryVideo video {
    width: 100%;
    padding: 10px;
}