    body {
        text-align: center;
    }
    
    h1,
    h2,
    h3,
    h4,
    p,
    a {
        font-family: 'Courier New', Courier, monospace;
    }
    
    h1,
    h4 {
        font-weight: bold;
        text-decoration: underline;
    }
    
    .navbar {
        z-index: 2;
    }
    
    .nav-item {
        margin: 10px;
        border-style: none solid none solid;
        border-color: #444444;
        height: 70%;
    }
    
    .nav-item:hover {
        background-color: #444444;
    }
    
    .carousel,
    .row {
        margin: 20px 0px;
    }
    
    .carousel-inner,
    .carousel-item,
    .carousel-item .row,
    .carousel-item .row div,
    .carousel-item .row div img {
        margin: auto;
        text-align: center;
    }
    
    button a {
        color: inherit;
        text-decoration: inherit;
    }
    
    button a:hover {
        color: inherit;
        text-decoration: inherit;
    }
    
    .row div {
        margin: auto;
        padding: 10px;
        text-align: center;
    }
    
    .why-chess div img:hover {
        animation: grow;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-delay: 0.5s;
        animation-iteration-count: infinite;
        animation-direction: normal;
    }
    
    @keyframes grow {
        0% {
            transform: scale(1) rotate(0deg);
        }
        25% {
            transform: rotate(10deg);
        }
        50% {
            transform: scale(1.2) rotate(0deg);
        }
        75% {
            transform: rotate(-10deg);
        }
        100% {
            transform: scale(1) rotate(0deg);
        }
    }
    
    #soccerborder {
        border-color: white;
        border-style: solid;
        border-width: 5px;
        height: 505px;
        width: 100vw;
    }
    
    #ball {
        position: absolute;
        left: 1%;
        top: 60%;
    }
    
    #goal {
        position: absolute;
        left: 90%;
        top: 60%;
    }
    
    #freekick1,
    #freekick2,
    #freekick3,
    #freekick4 {
        position: absolute;
    }
    
    #halfline {
        position: absolute;
        left: 50%;
        height: 500px;
        width: 5px;
        background-color: white;
        z-index: -1;
    }
    
    #halfcircle {
        position: absolute;
        border-radius: 50%;
        left: 50%;
        transform: translate(-50%, 0);
        top: 50vh;
        height: 200px;
        width: 200px;
        border-color: white;
        border-style: solid;
        border-width: 5px;
        z-index: -1;
    }
    /* The Modal (background) */
    
    .modal {
        display: none;
        /* Hidden by default */
        margin: auto;
        z-index: 1;
        /* Sit on top */
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
    }
    /* Modal Content/Box */
    
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        /* 15% from the top and centered */
        border: 1px solid #888;
        width: 80%;
        /* Could be more or less, depending on screen size */
    }
    /* The Close Button */
    
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    
    .tipdiv {
        width: 40px;
        height: 40px;
        margin: 20px 20px;
    }
    
    .tipbttn {
        border-radius: 25%;
        background-color: #FCC03D;
    }
    
    .tiptext {
        border-radius: 5%;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s linear;
        background-color: #FCC03D;
        width: 300px;
    }
    
    .tipdiv:hover .tiptext {
        visibility: visible;
        opacity: 1;
    }
    
    .tipdiv:hover .tipbttn {
        background-color: #FCC03D;
    }
    
    .wrapper {
        display: inline-grid;
    }
    
    .header {
        /* Making header background gradient with: https://weekendprojects.dev/posts/creating-a-gradient-animation-with-css/ */
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 5s ease infinite;
    }
    
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    
    @media (max-width: 800px) {
        /* CSS that should be displayed if width is equal to or less than 800px goes here */
        /* from https://stackoverflow.com/questions/21075983/how-to-use-particular-css-styles-based-on-screen-size-device */
        .modal {
            display: block;
        }
        .modal-content {
            margin-top: 200px;
        }
        .close {
            display: none;
        }
        #ball,
        #goal,
        #freekick1,
        #freekick2,
        #freekick3,
        #freekick4 {
            display: none;
        }
    }